<h1><%= @post.title %></h1>

<%= link_to "Edit this post", edit_post_path(@post) %>

<h2>Title: <%= @post.title %></h2>
<br>
<p>Category: <%= @post.category %></p>
<br>
<p>Summary: <%= @post.summary %></p>
<br>
<p>Content: <%= @post.content %></p>
